.cover-overlay{
  position: absolute;
  height: 100%;
  width: 100%;
  /* background-color: rgb(0 0 0 / 20%); */
  background: linear-gradient(45deg, black, transparent);
  z-index: 1;
}

.cover-container {
  height: 100vh;
  max-width: 100%;
  /* width: 100%; */
  background-image: url("../../assets/img/top-banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  background-attachment: fixed;
  /* position: relative; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.cover-title{
  text-align: center;
  z-index: 2;
}

.cover-title h1{
  color: white;
  font-family: 'Pacifico', serif;
  font-size: 4rem;
  letter-spacing: 3px;
  word-spacing: 5px;
  /* font-weight: 100; */
}

.slide-button{
  z-index: 2;
  cursor: pointer;
}


.razorpay-donate{
  display: inline-block;
  margin: 20px;
  position: relative;
  text-decoration: none;
  font: 20px "Helvetica";;
  z-index: 2;
}
.razorpay-donate {
  background: #00684d;
  background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.4) 100%), -webkit-linear-gradient(left, #00b486 0%, #00684d 50%, #00b486 100%);
  background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.4) 100%), linear-gradient(to right, #00b486 0%, #00684d 50%, #00b486 100%);
  background-position: 0 0;
  background-size: 200% 100%;
  border-radius: 4px;
  color: #fff;
  padding: 15px 65px 15px 15px;
  text-shadow: 1px 1px 5px #666;
  -webkit-transition: all 800ms;
  transition: all 800ms;
}
.razorpay-donate:after {
  border-left: 1px solid #004f3a;
  /* color: #003527; */
  color: #fff;
  content: "\f004";
  font: 20px "FontAwesome";
  padding: 10px 0;
  padding-left: 15px;
  position: absolute;
  right: 16px;
  top: 7px;
  -webkit-transition: all 600ms 200ms;
  transition: all 600ms 200ms;
}
.razorpay-donate:hover {
  background-position: -100% 0;
  /* color: #003527; */
  color: #fff;
}
.razorpay-donate:hover:after {
  border-left: 1px solid #008260;
  color: #fff;
  text-shadow: 0 0 10px #000;
}


@media (max-width:480px) {
  .cover-container{
    padding-top: 2.5rem;
  }
  .cover-title h1{
    font-size: 2.1rem;
  }
}

