/* .nav-masthead .nav-link {
    padding: .25rem 0;
    font-weight: 700;
    color: rgba(255, 255, 255, .5);
    background-color: transparent;
    border-bottom: .25rem solid transparent;
  }
  
  .nav-masthead .nav-link:hover,
  .nav-masthead .nav-link:focus {
    border-bottom-color: rgba(255, 255, 255, .25);
  }
  
  .nav-masthead .nav-link + .nav-link {
    margin-left: 1rem;
  }
  
  .nav-masthead .active {
    color: #fff;
    border-bottom-color: #fff;
  } */

  .custom-nav-link{
    color: #a0a0a0;
    text-decoration: none;
    padding: 0.3em 0.6em;
    position: relative;
    /* outline: 1px solid red; */
  }

  .custom-nav-link::after{
    content: "";
    position: absolute;
    background-color: #ff3c78;
    height: 3px;
    width: 0;
    left:0;
    bottom:-4px;
    /* transition: width 0.3s; */
  }

  .custom-nav-link:hover{
    color: white;
  }

  .custom-nav-link:hover::after{
    width: 100%;
    
  }
