  .custom-nav-link{
    color: #a0a0a0;
    text-decoration: none;
    padding: 0.3em 0.6em;
    position: relative;
    /* outline: 1px solid red; */
  }

  .custom-nav-link::after{
    content: "";
    position: absolute;
    background-color: #ff3c78;
    height: 3px;
    width: 0;
    left:0;
    bottom:-4px;
    /* transition: width 0.3s; */
  }

  .custom-nav-link:hover{
    color: white;
  }

  .custom-nav-link:hover::after{
    width: 100%;
    
  }

  .donate-link{
    text-decoration: none;
    color: white;
  }

  .donate-button:hover .donate-link{
    color: black;
  }

  @media (max-width:480px) {
    .navbar-nav li{
      text-align: center;
      margin: 0.23rem 11px;
    }

    .custom-navbar-brand{
      font-size: 1.5rem;
      margin-left: 1rem;
    }

    .custom-nav-link::after{
      background-color: transparent;
    }
  }
